.mainArea{
	min-height: 100%;
	position: relative;
	height:100%;

}

/*.logo{
	
	display: block;
	float:left;
	outline:0px none;
	width: 200px;
	height:200px;
	background: yellow url("images/logo.png")  no-repeat;
}*/

.location-search{
	background:#ab1d10;
}

.cfx{
	float:right;
	height: 60px;
	margin-right:10px;
	background: #CE2517 none repeat scroll 0% 0%;
	width:272px;
	position:relative;
	zoom:1;
	min-height:1px;
}

.input-holder{
	float:left;
	background: red;

}

.search-submit{
	background: grey;
	float:right;
	width:40px;
	height:40px;
	cursor:pointer;

}

.input-city-search{
	padding:0px 0px 0px 10px;
	height:40px;
	background:transparent none repeat scroll 0% 0%;
	color:#FFF;
	width:100%;
	box-shadow: none;

}

/*.searchbar{
	display:block;
	background: yellow;
	float: right;
	padding-top: 10px;
}

.search-container{
	float:right;
	height: 60px;
	margin-right:10px;
	background: #CE2517 none repeat scroll 0% 0%;
	width:272px;
	position:relative;
}

.search-container-input{
	padding:0px 0px 0px 10px;
	height: 40px;
	background: transparent none repeat scroll 0% 0%;
	color: #FFF;
	width: 100%;

}*/

.topbar{
	height:200px;
	background-image: url("images/header1.jpg");
	background-size: 100% 300px;
	background-repeat: no-repeat;
	color: #FFF;
	position: relative;
	z-index: 20;
}

.topbar.warp{

	position: relative;
}

.header{
	position:relative;
	z-index:10;

}

.header h1{
	
	text-align:left;
	font-size:50px;
	line-height: 1;
	font-family:"ProbaPro", sans-serif;
	font-weight: 300;

}

.wrap{
	width: 1130px;
	padding:0px 20px;
	margin:0px auto;
	text-align: left;
}

.steps-container{
	padding:0px 0px 35px;
	/*padding: 0px 0px 35px;
	padding-top: 0px;
	padding-right:0px;
	padding-bottom: 35px;
	padding-left:0px;*/


}

.step-wrap{
	width:1130px;
	padding:0px 20px;
	margin:0px auto;
	text-align: left;
}

.step-position{
	margin:0px auto;
	width:950px;
	/*margin:0px auto;
	margin-top:0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width:950;*/
	
}

.title-box h1{
	text-align: center;
	font-size: 50px;
	line-height: 1;
	font-family: "ProbaPro",sans-serif;
	font-weight: 300;

}

.step-bar{
	float:left;
	width:230px;
}


.step-bar ul{
	margin:0px;
	padding: 0px;
	list-style-type: none;
}

.steps-container .step-bar ul a.active{
	background: #F7F7F7 none repeat scroll 0% 0%;
	padding-left:24px;
	border-left: 4px solid #48D1A6;
}

a{
	text-decoration: none;
}

.steps-container .step-bar ul a{
	display: block;
	padding: 24px 20px 16px 28px;
	font-size: 26px;
	line-height: 1.05;
	color: #404040;
	font-weight: 600;
	font-family: "ProbaPro", sans-serif;
}

.steps-container .step-bar ul a span{
	display: block;
	font-size:15px;
	color:#A6A6A6;
	font-family: "ProximaNova", sans-serif;
	font-weight: 400;
}

.content_form{
	float:left;
	position:relative;
	width:490px;
	background: #F7F7F7 none repeat scroll 0% 0%;

}

.profile-image{
	text-align:center;
	padding-bottom: 15px;
}

.image{
	margin:0px auto;
	background-color: #FF6F29;
	background-size: cover;
	background-position: :center center;
	width:174px;
	height:174px;
	border:4px solid #FFF;
	position:relative;
	border-radius:178px;
}

.profile-image-bottom{
	font-size:15px;
	padding-top:10px;

}

.profile-image-bottom a{
	text-decoration: none;
	color:#FF6F29;
}

.profile-details-columns{
	float:left;
	margin:auto;
	width:70%;
	/*height: 300px;*/
	border:3px ;
	padding:10px;
	

}

.submit{
	background: #F0F0F0 none repeat scroll 0% 0%;
	padding:30px;

}

.submit .button{
	font-size:20px;
	background: #E93223 none repeat scroll 0% 0%;
	color: #FFF;
	height: 56px;
	width:215px;
	cursor: pointer;
	text-align: center;
	font-family: "Probapro", sans-serif;
}

a{
	font-size:20px;
	background: #E93223 none repeat scroll 0% 0%;
	color: #FFF;
	height: 56px;
	width:215px;
	cursor: pointer;
	text-align: center;
	font-family: "Probapro", sans-serif;
}

p{
	text-align: center;
	font-size:15px;
	color:#A6A6A6;
	font-family: "ProximaNova", sans-serif;
	font-weight: 400;


}

.footer{

	position:relative;
	margin-top: -180px;
	height: 180px;
	clear:both;
	
}

